DATABASE_URL="postgres://user:password@localhost:5432/inventory_db?statement_timeout=60000"
JWT_SECRET="random-uuid-or-any-string"
DOMAIN="http://127.0.0.1:7765" # Backend domain
FRONTEND_URL='http://localhost:3000'
SMTP_HOST='smtp.example.com'
SMTP_USER='...'
SMTP_PASS='...'
MAIL_FROM='Your Shop <no-reply@yourshop.com>'
SMTP_PORT=2525 # I used mailtrap to test
SMTP_SECURITY=starttls # I used mailtrap to test