NUXT_API_URL="http://127.0.0.1:7765"
# Cloudflare Turnstile (overwrite in runtime)
NUXT_PUBLIC_TURNSTILE_SITE_KEY="1x00000000000000000000AA"
NUXT_TURNSTILE_SECRET_KEY="1x0000000000000000000000000000000AA"
NUXT_PUBLIC_SITE_URL="http://127.0.0.1:3000"
NUXT_PUBLIC_CURRENCY="PKR" # UD$, AU$
NUXT_PUBLIC_PHONE="+92 3011234567" # UD$, AU$
NUXT_PUBLIC_EMAIL="contact@example.com"